:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17181b;
  color: white;
}

.container .facebook-post {
  width: 50%;
}
* .post-header {
  display: flex;
  align-items: center;
}

.post-header .profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 0.8rem;
}

.post-footer {
  border-top: 2px solid rgba(0, 0, 0, 0.185);
  border-bottom: 2px solid rgba(0, 0, 0, 0.185);
  margin-block: 0.3rem;
}

.post-footer .cta {
  display: flex;
  justify-content: space-around;
}
.post-footer .cta .btn {
  padding: 0.4rem 2rem;
  transition: all 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  display: flex;
  align-items: center;
}

.post-footer .cta .btn:hover {
  background-color: #151618;
  cursor: pointer;
  border-radius: 5px;
}

.Reaction-icons {
  background-color: #1e1f22;
  width: fit-content;
  padding: 0.3rem;
  border-radius: 20px;
}

.Reaction-icons img {
  width: 30px;
  padding-right: 0.3rem;
  transition: all 400ms ease-in-out;
}
.Reaction-icons img:hover {
  transform: scale(1.2);
}
.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: #1d2025;
  box-shadow: rgba(75, 76, 77, 0.3) 0px 1px 2px 0px,
    rgba(66, 67, 68, 0.15) 0px 2px 6px 2px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  margin-block: 1rem;
}

/* .post-img_div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding-bottom: 1rem;
  width: 100%;
}

.post-img {
  width: 300px;
  height: 300px;
} */
.images {
  columns: 4 300px;
  column-gap: 10px;
}
img {
  width: 100%;
}
